.container{
    display: flex;
    height: 200px;
    width: 100px;
    background-color: aqua;
    border: 5px solid black;
    flex-direction: column;
    flex-wrap: wrap;
}

.item{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
}