.container{
    height: 500px;
    width: 1000px;
    border: 3px solid black;
    background-color: aqua;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; //using repeatation of 1fr using this//*/
    grid-template-columns: repeat(4,/*1fr*/100px);
    grid-template-rows: repeat(3,/*1fr*/100px);
    /*grid-template-areas: "header header header header"  "main main . sidebar"  "footer footer footer footer"; */
    gap: 10px;
    justify-items: center;
    /*justify-items: stretch;  //for use this commint height and width of .item*/
    align-items: center;
    /* align-items: start; */
    justify-content: space-evenly;/* space-between space-around; */
    align-content: center;
}
.item{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgb(238, 83, 83);
    text-align: center;
    align-items: center;
}

/* .item1{
    grid-row: header;
}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
} */