/* .box{
    height: 100px;
    width: 100%;
    background-color: aqua;
}


@media(min-width: 768px){
    .box
    {
        background-color: blue;
    }
}


@media(min-width: 1024px){
    .box
    {
        background-color: aquamarine;
    }
} */


body {
    margin: 0;
    font-weight: Arial,sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 1 rem;
}
.logo{
    color:azure;
    font-size:1.5rem;
}

