/* p{
    color: blue;
    background-color: red;
    text-align: centre;
}

.p{
    color: green;
    background: aquamarine;
}

#jk{
    font-size: 25px;
} */
 div {
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 20px;
    border:5px solid black;
    margin:100px;
}
#con1{
    height: 50px;
    width: 50px;
    background-color: red;
    padding: 5px;
    border:1px solid black;
    margin:25px;
}
#con2{
    height: 100px;
    width: 100px;
    background-color: rgb(38, 255, 0);
    padding: 10px;
    border:3px solid rgb(0, 0, 0);
    margin:50px;
}
#con3{
    height: 150px;
    width: 150px;
    background-color: rgb(183, 0, 255);
    padding: 15px;
    border:4px solid rgb(0, 0, 0);
    margin:75px;
}
#con4{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 247, 0);
    padding: 20px;
    border:5px solid rgb(0, 0, 0);
    margin:100px;
}